*{
    margin: 0;
    padding: 0;
}


   /*.vesper{
     margin-top: 10px;*/

.container{
width: 90%;
margin: auto auto;
background-color: white;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



header{
display: flex;
height: 130px;
width: 100%;
align-items: center;   /*Alinea vertical*/
justify-content: space-evenly;  /*Distribuye en espacio horizontal*/
position: fixed;  /*BLOQUEA HEADER AL BAJAR*/
background-color:white;


}

ul{
display: flex;
justify-content: space-around;
list-style: none;
padding: 20px;
}
    
a{
margin-right: 20px;
text-decoration: none;   /*QUITA LINEA*/  
color: dimgray; 
}
        
ul{
align-items: center;/*alinear el menú navegación*/
}

.boton_get{
display: flex;
background-color: #3498db;
color: #fff;
align-items: center;
justify-content: center;
height: 35px;
width: 95px;
padding: 4px 4px;
border-radius: 30px;
}
        
main{
display: flex;
justify-content: center;
align-items: center;
grid-template-columns: repeat(2, 1fr);
gap: 1rem; /*Espacio entre columnas*/
flex-wrap: wrap; /* MEDIA QUERY PANTALLA ADAPTATIVA*/

}

.img-grow_c{
    margin-top: 160px;  /*PARA BAJAR IMAGEN DE HEADER*/
}

.h1_grow{
font-size: 2.5rem;
margin-bottom: 10px;
}

.h3_grow{
font-size: 1.2rem;
}

.btn_grow{
display: flex;
background-color: #3498db;
/*margin-top: 20px;*/
color: #ffff;
align-items: center;
justify-content: center;
height: 35px;
width: 95px;
padding: 4px 4px;
border-radius: 30px;
}


.marcas{
display: flex;
gap: 10px;
height: 60px;
align-items: center;
justify-content: space-around;
background-color: rgb(237, 247, 250);
}

.img_clients{
width: 100px;   /* CUADRAR ALTO Y ANCHO*/
height: 30px;
object-fit: cover;  /* PARA NO PIXELAR*/

filter: grayscale(100);   /* PONE BARRA EN GRISES hasta transform */
transition: all 0.4% ease-in-out;
display: inline-block;
padding: 10px 0;
}
.img_clients:hover{  /* AL TOCAR PONE COLOR*/
    filter: none;
    transform: scale(1.1);
}


                    /*Crear submenú
                    https://www.youtube.com/watch?v=LtPWfritmjs
                    Menu desplegable*/
header ul li a:hover{
                    background-color: #176B87;
                    color: #fff;                     /* ILUMINA BOTON ARRIBA AL TOCAR*/
} 

main button:hover{
    background-color: #176B87;
    color: #fff;                     /* ILUMINA BOTON ABAJO AL TOCAR*/
} 
                    
header ul li ul{
position: absolute;
width: 100px;
background-color: #20bcf0;
display: none;    /* COLOR BLOQUE SUBLISTA*/
}
                    
header ul li ul li{
width: 100%;
border-top: 1px solid rgb(0, 0, 0, 0.1); /* 0.1 TIEMPO TRANSICION*/
}     /* EMERGE BLOQUE DE SUBLISTA */

header ul li:focus-within > ul,
header ul li:hover > ul{
display:block; /*INITIAL: ubica abajo BLOCK:abajo*/
}

.container2{
    margin: 10px;

}

.about_us{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
}


.contenedor_aboutus{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem; /*Espacio entre columnas*/
    align-items: center;
    justify-content: center;
}

h4{
    
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.lineazul{
    height: 70px;
    width: 100px;
    

}

.doblecheck{
    width: 15px;
    height: 15px;
}

.learnmore{
    display: flex;
    background-color:transparent;
/*margin-top: 20px;*/
    color: #3498db;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 140px;
    padding: 4px 4px;
    border-radius: 30px;
    border-style:groove;
    border-color: #3498db;
    margin-top: 30px;
    font-size: 15px;  

}

.container2 .contenedor_aboutus article button:hover{
    background-color: #176B87;
    color: #fff;             /* ILUMINA BOTON larn more ABAJO AL TOCAR*/
} 

.trofeo{
    width: 350px;
    height: 200px;
}

.contenedor_aboutus2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem; /*Espacio entre columnas*/
    justify-content: center;
    align-items: center;
    margin-top: 80px;

}

.parrafoabout{
    margin-left: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h1{
    font-size: 30px;
}


/* pantalla 0 a 500 px SM */
@media screen and (max-width:500px){
    header{
     flex-wrap:wrap;
     position: unset;
     margin: auto auto;
   }
   .vesper{
    margin-top: 10px;
     
   }
     .boton_get{
     margin-top: 10px;    
     background-color: #64CCC5;
     color: #fff;
     font-size: 1.5rem;
     height: 45px;
     width: 235px;
     padding: 4px 4px;
     border-radius: 10px;
     }
     ul{
         margin-top: 10px;
         flex-wrap: wrap;
     }
     main{
         display: grid;
         grid-template-columns: repeat(1, 1fr);
         padding: 80px;
     } 
     .img_grow{
         width: 20%;
     } 

     .container{
        width: 8px;
        
     }

     .marcas{
        width: 10px;
     }
     
 
     .sm-12{
         width: 100%;
     }
     .sm-11{
         width: 91.666%;
     }
     .sm-10{
         width: 83.3333%;
     }
     .sm-9{
         width: 75%;
     }
     .sm-8{
         width: 66.6666%;
     }
     .sm-7{
         width: 58.3333%;
     }
     .sm-6{
         width: 50%;
     }
     .sm-5{
         width: 41.6666%;
     }
     .sm-4{
         width: 33.3333%;
     }
     .sm-3{
         width: 25%;
     }
     .sm-2{
         width: 16.6666%;
     }
     .sm-1{
         width: 8.3333%;
     }
 
 }

@media screen and (min-width:501px) and (max-width:800px) {

    header{
       margin-left: 10px;
       flex-wrap:wrap;
     }
   .boton_get{
       background-color: #64CCC5;
       color: #fff;
       height: 45px;
       width: 135px;
       padding: 4px 4px;
       border-radius: 10px;
       }
       .img_grow{
           width: 300px;
       } 

                
       }

       
       .md-12 {
           width: 100%;
       }

       .md-11 {
           width: 91.666%;
       }

       .md-10 {
           width: 83.3333%;
       }

       .md-9 {
           width: 75%;
       }

       .md-8 {
           width: 66.6666%;
       }

       .md-7 {
           width: 58.3333%;
       }

       .md-6 {
           width: 50%;
       }

       .md-5 {
           width: 41.6666%;
       }

       .md-4 {
           width: 33.3333%;
       }

       .md-3 {
           width: 25%;
       }

       .md-2 {
           width: 16.6666%;
       }

       .md-1 {
           width: 8.3333%;
       }



/* pantalla 801  a 1200px LG */
@media screen and (min-width:801px) and (max-width:1200px) {

               .lg-12 {
                   width: 100%;
               }

               .lg-11 {
                   width: 91.666%;
               }

               .lg-10 {
                   width: 83.3333%;
               }

               .lg-9 {
                   width: 75%;
               }

               .lg-8 {
                   width: 66.6666%;
               }

               .lg-7 {
                   width: 58.3333%;
               }

               .lg-6 {
                   width: 50%;
               }

               .lg-5 {
                   width: 41.6666%;
               }

               .lg-4 {
                   width: 33.3333%;
               }

               .lg-3 {
                   width: 25%;
               }

               .lg-2 {
                   width: 16.6666%;
               }

               .lg-1 {
                   width: 8.3333%;
               }


}
/* pantalla 1200px al infinito XL */
@media screen and (min-width:1201px) {

       .xl-12 {
           width: 100%;
       }

       .xl-11 {
           width: 91.666%;
       }

       .xl-10 {
           width: 83.3333%;
       }

       .xl-9 {
           width: 75%;
       }

       .xl-8 {
           width: 66.6666%;
       }

       .xl-7 {
           width: 58.3333%;
       }

       .xl-6 {
           width: 50%;
       }

       .xl-5 {
           width: 41.6666%;
       }

       .xl-4 {
           width: 33.3333%;
       }

       .xl-3 {
           width: 25%;
       }

       .xl-2 {
           width: 16.6666%;
       }

       .xl-1 {
           width: 8.3333%;
       }
}

/* BLOQUE MORE SERVICES */
.more_service{
    padding-top: 5px;
    
    
}

.more_services1{
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
    
}
.img_service{
    border: 0;
    padding: 5px 0px 15px 6px; /* top-entreimagen-alto-ancho*/
    position: relative;
    
    
   
    /*background-image: url("../Vesperr/Vesperr/assets/img/more-services-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/
}
.service_body{
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    position: absolute;    
    background-color: rgb(245, 247, 248);
    padding: 15px 30px;
    border-radius: 5%;
    /*z-index: 1;*/
    transform: translate(4%, -150%);
    width: 80%;
    height: 20%;
    opacity: 0.9; 
    
       
}

.service_body:hover{
    background-color: #29baeb;
    color: #fff;                     /* ILUMINA BOTON AL TOCAR*/
} 


.more_services2{
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
    text-align: justify;
}

